
#navbar ul {
  
	display: flex;
	align-content: center;
   justify-content: center;
  }
  #navbar ul li {
	padding: 20px;
	list-style: none;
  }
  #navbar ul li a {
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
	font-size: 2em;
	text-decoration: none;
	padding: 1em;
	white-space: nowrap;
	letter-spacing: 1px;
	
  }
  #navbar ul li a:hover {
	border-bottom: 3px solid #fff;
	
  }
  
  .header {
	background-size: cover;
	position: relative;
  }

body{
	
	background-image: url("https://github.com/TopprCodr/Class-26-Sports-Final-Stage/blob/master/ipl.jpg?raw=true") ;

	text-align:center;
	color: blue;

}

span {
	display: inline-block;
	margin:-50px;	
  }

h2{
	text-align: center;
	color: blue;
	margin-top: 20px;
}


select{
	height: 45px;
	width: 200px;
}